body {
    background-image: url("../imgs/foodbg-50-darker.png");
}

.jumbotron {
   
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -10px;
    background-size: cover;
    background-color: darkolivegreen;
    color: #fff;

}

.bg-light {
    background-color: #000;
}
#footer {
   
    background-repeat: no-repeat;
    background-position-y: -630px;
    background-size: cover;
    background-color: darkolivegreen;
    color: #fff;
}
.row{
    margin-left: 0;
}
.card {
    justify-content: space-around;
}

.modal-fade {
    position: absolute;
}
.table {
    background-color: white;
}