/* body {
    background-color: lightblue;
}

p {
    background-color: lightgreen;
    
  
}
ol {
    background-color:white;
    

}
#food-view{
    /* justify-content: space-around; */
   
    margin: 20px;
   
}


/* #image{
    width:200px;
    height: 200px;
    float: left;
     
    

} */ 
/* #label{
    clear: both;
  
} */

/* .card{
  
   display: inline-block;
   width: 200px;
   heig
}
body{
    background: blue;
} */
.row{
    margin-left: 0;
}